<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wish World</title>
    <link rel="icon" type="image/png" href="/styles/images/W_Emblem.png">
    <link rel="stylesheet" type="text/css" href="/styles/login.css">
    <link rel="stylesheet" type="text/css" href="/styles/menuHead.css">
    <link rel="stylesheet" type="text/css" href="/styles/popupBox.css">
</head>
<body>
<header>
    <div class="box_menuBar">
        <img src="/styles/images/WishWorld_Icon.png" alt="E" class="icon_menuBar">
    </div>
</header>
<main>
    <div class="top-bar">
        <form action="/index" method="post">
            <div class="input_box">
                <label for="username"></label>
                <input type="text" class="username_input" name="username" id="username"
                       placeholder="E-mail eller brugernavn"><br>
                <input type="password" class="password_input" name="password" id="password"
                       placeholder="Adgangskode"><br>
            </div>
            <input type="submit" value="Login" class="login_button">
            <a class="opret_button" href="#popup1">Opret</a>
        </form>
        <span th:text="${error}" class="wrong_userInput"></span>
    </div>

    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>Indtast oplysninger</h2>
            <a class="close" href="#">&times;</a>
            <div class="input_box">
                <form action="/createUser" method="post">
                    <input type="text" class="fname" name="first_name" placeholder="Fornavn">
                    <input type="text" class="lname" name="last_name" placeholder="Efternavn">
                    <input type="text" class="email" name="email" placeholder="E-mailadresse">
                    <input type="text" class="username" name="username" placeholder="Brugernavn">
                    <input type="text" class="password" name="passcode" placeholder="Adgangskode">
                    <input type="submit" value="Opret" class="login_button">
                </form>
                <div th:if="${show_popup1}">
                <span th:text="${error_username}" class="wrong_userInput"></span>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>

</footer>
</body>
</html>