<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishing World</title>
    <link rel="stylesheet" type="text/css" href="/styles/login.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/login.css">
</head>
<body>
<header>
    <h1>Wishing World</h1>
</header>
<nav>
    <ul class="menu">
        <li><a th:href="@{index}" class="front_link">Forside</a></li>
        <li><a th:href="@{userpage}" class="UP_link">User Page</a></li>
    </ul>
</nav>

<main>
    <div class="top-bar">
        <form action="/index" method="post">
            <div class="input_box">
                <input type="text" class="username_input" name="username" id="username"
                       placeholder="E-mail eller brugernavn"><br>
                <input type="password" class="password_input" name="password" id="password"
                       placeholder="Adgangskode"><br>
            </div>
            <input type="submit" value="login" class="login_button">
        </form>
        <span th:text="${error}" class="wrong_userInput"></span>
    </div>
</main>
<footer>

</footer>
</body>
</html>