<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishing Star</title>
    <link rel="icon" type="image/png" href="/styles/images/4568086.png">
    <link rel="stylesheet" type="text/css" href="/styles/login.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/login.css">
    <link rel="stylesheet" type="text/css" href="/styles/popupBox.css">
</head>
<body>
<header>
    <h1 class="menu_bar">Wishing Star<img src="/styles/images/4568086.png" alt="Icon" class="icon_menuBar"></h1>
</header>
<main>
    <div class="top-bar">
        <form action="/index" method="post">
            <div class="input_box">
                <input type="text" class="username_input" name="username" id="username"
                       placeholder="E-mail eller brugernavn"><br>
                <input type="password" class="password_input" name="password" id="password"
                       placeholder="Adgangskode"><br>
            </div>
            <input type="submit" value="login" class="login_button">
            <a class="login_button" href="#popup1">Opret</a>
        </form>
        <span th:text="${error}" class="wrong_userInput"></span>
    </div>
    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>Indtast oplysninger</h2>
            <a class="close" href="#">&times;</a>
            <div class="form_box" >
                <form action="/createUser" method="post">
                    <input type="text" name="first_name" placeholder="Fornavn">
                    <input type="text" name="last_name" placeholder="Efternavn">
                    <input type="text" name="email" placeholder="E-mailadresse">
                    <input type="text" name="username" placeholder="Brugernavn">
                    <input type="text" name="passcode" placeholder="Adgangskode">
                </form>
                <input type="submit" value="Opret" class="login_button">
            </div>
        </div>
    </div>
</main>
<footer>

</footer>
</body>
</html>