<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" href="/styles/userpage.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/userpage.css">

</head>
<body>
<header>
    <h1>Wishing World</h1>
    <nav>
        <ul class="menu">
            <li><a th:href="@{index}">Forside</a></li>
            <li><a th:href="@{login}">Login</a></li>
            <li><a th:href="@{userpage}">User Page</a></li>
        </ul>
    </nav>
    <div class="profile">
    <p>Welcome <span th:text="${user.username}"></span></p>
        <img src="styles/images/Profile.jpg" alt="Profile" style="height: 50px">
    </div>
</header>
<main>
    <p>User Name: <span th:text="${user.username}"></span></p>
    <p>Password: <span th:text="${user.passcode}"></span></p>
    <p>User ID: <span th:text ="${user.user_id}"></span></p>
    <p>First name: <span th:text="${user.first_name}"></span></p>
    <p>Last name: <span th:text="${user.last_name}"></span></p>
    <p>Email: <span th:text="${user.email}"></span></p>
</main>
<footer></footer>
</body>
</html>