<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" href="/styles/userpage.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/userpage.css">
    <link rel="stylesheet" type="text/css" href="/styles/popupBox.css">

</head>
<body>
<header>
    <h1 > <a th:href="@{userpage}" class="UP_link">Wishing World</a></h1>
    <nav>
        <ul class="menu">
            <li><a th:href="@{index}" class="front_link">Forside</a></li>
        </ul>
    </nav>
    <div class="profile">
    <p>Velkommen <span th:text="${user.first_name}"></span>!</p>
        <img src="styles/images/Profile.jpg" alt="Profile" style="height: 50px">
    </div>
</header>
<main>
    <h1>WishLists</h1>
    <div class="wish_lists">
        <div th:each="list: ${wishlist}">
            <a th:href="@{'/viewWishList/' + ${list.wishlist_id}}">
                <div class="card">
                    <img src="styles/images/wish.jpg" alt="Card Picture" style="width: 100%">
                    <div class="card_container">
                        <span th:text="${list.wishlist_name}"></span>
                    </div>
                </div>
            </a>
        </div>
        <a href="#new_wish_popup">
            <div class="new_card">
                <img src="styles/images/plus_icon.jpg" alt="New Wishlist" style="width: 100%">
                <div class="card_container">
                    <h4><b>New WishList</b></h4>
                </div>
            </div>
        </a>
    </div>
    <div id="new_wish_popup" class="overlay">
        <div class="popup">
            <h2>Create new Wishlist</h2>
            <a class="close" href="#">&times;</a>
            <div class="input_box">
                <form action="/createWishlist" method="post">
                    <input type="text" name="wishlist_name" placeholder="Wishlist Name">
                    <input type="submit" value="Opret" class="login_button">
                </form>
            </div>
        </div>
    </div>
    <p>User Name: <span th:text="${user.username}"></span></p>
    <p>Password: <span th:text="${user.passcode}"></span></p>
    <p>User ID: <span th:text="${user.user_id}"></span></p>
    <p>First name: <span th:text="${user.first_name}"></span></p>
    <p>Last name: <span th:text="${user.last_name}"></span></p>
    <p>Email: <span th:text="${user.email}"></span></p>
</main>
<footer></footer>
</body>
</html>