<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
    <link rel="stylesheet" type="text/css" href="/styles/wishList.css">
    <link rel="icon" type="image/png" href="/styles/images/W_Emblem.png">
    <link rel="stylesheet" type="text/css" href="/styles/popupBox.css">
    <link rel="stylesheet" type="text/css" href="/styles/table.css">
    <link rel="stylesheet" type="text/css" href="/styles/menuHead.css">
    <link rel="stylesheet" type="text/css" href="/styles/dropdown.css">
</head>
<body>
<header>
    <div class="box_menuBar">
        <a th:href="@{'/userpage'}"><img src="/styles/images/WishWorld_Icon.png" alt="E" class="icon_menuBar"></a>
        <div class="profile">
            <div class="dropdown">
                <img src="/styles/images/Profile.jpg" alt="Profile" class="dropdown_icon">
                <div class="dropdown-content">
                    <a th:href="@{'/myprofile'}">Min Profil</a>
                    <a th:href="@{'/logout'}">Log ud</a>
                </div>
            </div>
        </div>
    </div>
</header>
<table id>
    <thead>
    <tr>
        <th>Navn</th>
        <th>Pris</th>
        <a class="back_button" th:href="@{'/userpage'}">Tilbage</a>
        <a class="wish_Button" href="#popup2">Tilføj ønske</a>
        <a class="wish_Button" href="#popup3">Del ønskeliste</a>
        <div id="popup2" class="overlay">
            <div class="popup">
                <h2>Indtast oplysninger</h2>
                <a class="close" href="#">&times;</a>
                <div class="input_box">
                    <form th:action="@{'/addWish/' + ${wishlist}}">
                        <input type="text" name="wish_name" placeholder="Navn" class="newList_label">
                        <input type="text" name="wish_price" placeholder="Pris" class="newList_label">
                        <input type="submit" value="Tilføj" class="newList_button">
                    </form>
                </div>
            </div>
        </div>
        <div id="popup3" class="overlay">
            <div class="popup">
                <h2>Del din Ønskeliste</h2>
                <a class="close" href="#">&times;</a>
                <div class="input_box">
                    <input type="text" class="newList_label" th:value="'http://localhost:5555/shareWishList/' + ${wishlist}" readonly>
                </div>
            </div>
        </div>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wish: ${wishes}">
        <td th:text="${wish.wish_name}"/>
        <td th:text="${wish.wish_price}"/>
        <td>
            <a th:href="@{'/deleteWish/'+ ${wishlist} + '/'+${wish.wish_id}}">
                <button class="delete_wish_button">Slet</button>
            </a>
            <a class="wish_Button" href="#popup4">Rediger ønske</a>
            <div id="popup4" class="overlay">
                <div class="popup">
                    <h2>Indtast oplysninger</h2>
                    <a class="close" href="#">&times;</a>
                    <div class="input_box">
                        <form th:action="@{'/updateWish/'+ ${wishlist} + '/'+${wish.wish_id}}" method="post">
                            <input type="text" name="wish_name" placeholder="Navn på ønsket">
                            <input type="text" name="wish_price" placeholder="Pris">
                            <input type="text" name="wish_link" placeholder="Link til hjemmeside">
                            <input type="submit" value="Gem" class="login_button">
                        </form>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>