main {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.top-bar {
    background-color: #fff;
    border-radius: 8px;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 35px;
    width: 696px;
    margin-left: 115%;
    margin-top: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}


.opret_button {
    border-color: #9eb25d;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    font-size: 30px;
    padding: 0 16px;
    font-family: Arial, serif;
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 2px #9eb25d;
}

.opret_button:hover {
    background-color: #9eb25d;
}

.opret_button:active {
    background-color: #74843f;
}

.login_button {
    background-color: #9eb25d;
    border: none;
    border-radius: 14px;
    font-size: 30px;
    line-height: 48px;
    padding: 0 26px;
    margin-bottom: 10px;
    width: 432px;
    height: 50px;
    font-family: Arial, serif;
    color: white;
    text-decoration: none;
}

.login_button:hover {
    cursor: pointer;
    background-color: #74843f;
}

.login_button:active {
    background-color: #3f5026;
}

.input_box {
    border-radius: 14px;
    padding-bottom: 22px;
    alignment: top;
}

.password_input, .username_input {
    border-radius: 6px;
    margin-bottom: 10px;
    font-family: Arial, serif;
    font-size: 30px;
    padding: 10px 85px;
    border-width: 1px;
    border-color: grey;
    text-align: left;
}

.wrong_userInput {
    font-family: Arial, serif;
    font-size: 20px;
    margin-top: 10px;
    color: darkred;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}