body{
    display: flex;
    align-items: center;
    position: relative;
    background: rgb(167,198,218);
    background: linear-gradient(90deg, rgba(167,198,218,1) 0%, rgba(180,195,79,1) 100%);
    z-index: 1;
}

.box_menuBar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 125px;
    background-image: linear-gradient(to bottom, #9eb25d, #81914a, #9eb25d);
    border-bottom: 1px solid #81914a;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon_menuBar{
    height: 100px;
    padding: 15px;
}

.menu_bar{
    width: 100%;
    height: 7%;
    background-color: #5a4a94;
}