table {
    border-collapse: collapse;
    width: 60%;
    position: absolute;
    top: calc(100px + 45%);
    left: 4%;
    background-color: lightgrey;
    border-bottom: 1px solid #81914a;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

th, td {
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 48px;
    font-family: Arial, serif;
    padding: 10px;
    padding-right: 40px;
}

tr{
    color: #74843f;
}

th {
    background-color: lightgrey;
}

.box_wishes{
    margin-top: 300px;
}