table{
    border-collapse: collapse;
    width: 60%;
    position: absolute;
    margin-top: 100px;
}
tr:nth-child(even){
    background-color: lightgrey;
}
th{
    background-color: lightblue;
}
td, th{
    border: 1px solid black;
    text-align: left;
    padding: 4px;
    font-size: 38px;

}