header {
    margin: 0;
    display: flex;
    border-color: #506685;
    background-color: #6452a3;
    justify-content: space-between;
    background-color: #6452A3;
    font-size: 28px;
    font-family: Arial;
    color: ghostwhite;
    padding: 10px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

header div {
    display: flex;
}

header img {
    padding: 0px 0px 0px 10px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    padding: 0px 200px 0px 0px;
}

body {
    margin: 0;
}

div.profile {
    align-items: center;
}

header h1 {
    margin: 0;
}

main h1 {
    font-size: 30px;
}

.front_link {
    color: white;
    text-decoration: none;
}

.UP_link {
    color: white;
    text-decoration: none;
}

.front_link:hover {
    color: lightgrey;
    cursor: pointer;
}

.UP_link:hover {
    color: lightgrey;
    cursor: pointer;
}