ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    padding: 0px 200px 0px 0px;
}

.profile {
    margin-left: auto;
}

.card {
    width: 215px;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: lightgrey;
    border-radius: 14px;
    margin-top: 100px;
    margin-left: 40px;
}

.card img {
    max-width: 95%;
    max-height: 95%;
}

.card_container {
    padding: 2px 16px;
    border-top: 1px solid black;
    font-family: Arial, serif;
    font-size: large;
    text-decoration: none;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.new_card {
    width: 215px;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: lightgrey;
    border-radius: 14px;
    margin-top: 100px;
    margin-left: 40px;
}

.new_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.new_card img {
    max-width: 100%;
    max-height: 100%;
}

.new_card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.wish_lists {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    top: 50px;
}

.front_link {
    color: white;
    text-decoration: none;
}

.front_link:hover {
    color: lightgrey;
    cursor: pointer;
}

/* Position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-size: 12px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    font-family: Arial, serif;
    font-size: large;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.desc {
    padding: 15px;
    text-align: center;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.welcome_text{
    font-family: Arial, serif;
    font-size: large;
    margin: 10px;
    color: #f9f9f9;
}

.dropdown_icon{
    height: 50px;
    margin-left: 50px;
}

.delete_button{
    background-color: #ff6b6b;
    border-radius: 14px;
    margin: 10px;
    width: 20px;
    height: 20px;
    padding: 2px 16px;
    text-decoration: none;
    text-align: center;
    top: -195px;
    position: relative;
    color: white;
    font-family: Arial, serif;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.delete_button:hover{
    background-color: #ff3838;
}
.delete_button:active{
    background-color: #eb0000;
}